{% extends "user_management/user_base.html" %}
{% block head %}
    <title>Informazioni ristorante</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="text-uppercase">Informazioni ristorante</h2>
        </div>
        <div class="row">
            <form class="info-form form-wrap" method="POST">
                <div class="form-group row">
                    <label for="{{ form.name.name }}" class="col-sm-3 col-form-label">Nome: </label>
                    <div class="col-sm-9">
                        {{ form.name }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.city.name }}" class="col-sm-3 col-form-label">Città: </label>
                    <div class="col-sm-9">
                        {{ form.city }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.address.name }}" class="col-sm-3 col-form-label">Indirizzo: </label>
                    <div class="col-sm-9">
                        {{ form.address }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.n_places.name }}" class="col-sm-3 col-form-label">Nº posti: </label>
                    <div class="col-sm-9">
                        {{ form.n_places }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.booking_duration.name }}" class="col-sm-3 col-form-label">Durata prenotazione: </label>
                    <div class="col-sm-9">
                        {{ form.booking_duration }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col col-sm-6">
                        <label for="{{ form.kitchen_types.name }}">Tipi di cucina: </label>
                        {{ form.kitchen_types }}
                    </div>
                    <div class="col col-sm-6">
                        <label for="{{ form.services.name }}">Servizi: </label>
                        {{ form.services }}
                    </div>
                </div>
                <div class="form-group row">
                    <input type="submit" class="primary-btn text-uppercase" value="Cerca"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}