{% extends "user_management/user_base.html" %}
{% block head %}
    <title>Prenotazioni</title>
{% endblock %}
{% block content %}
    <div class="container restaurant-bookings">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <div id="restaurant_bookings_datetimepicker" class="datetimepicker"></div>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col col-sm-2">
                <span class="detail-label text-info">Posti prenotati: </span>
            </div>
            <div class="col col-sm-8">
                <span id="places-reserved">n prenotati</span> / {{ total_places }}
            </div>
        </div>
    </div>
{% endblock %}