#nav-menu-container {
    margin-left: 30px;
}

.banner-area .fullscreen {
    /*height: 400px;*/
}

.banner-area {
    background: url(../img/banner.jpg) center;
}

.footer-area {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-bottom {
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
}

.search-banner {
    background-color: #ffffff;
    margin-top: 120px;
    margin-bottom: 40px;
}

.search-banner .form-wrap {
    padding: 40px 30px;
}

.search-banner .form-wrap .col {
    margin-right: 15px;
    margin-left: 15px;
}

.search-banner .form-wrap .col:last-child {
    text-align: center;
}

.search-banner .form-wrap .primary-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.search-banner .form-wrap h6 {
    margin-bottom: 15px;
}

.search-banner .form-wrap .form-control {
    padding: 0.675rem 0.75rem;
    font-size: 13px;
    font-weight: 300;
    border-radius: 0;
    margin-bottom: 10px;
    border-color: #eee;
}

.search-banner .form-wrap .form-control:focus {
    box-shadow: none;
}

@media (max-width: 1024px) {
    .search-banner {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    .search-banner {
        padding-bottom: 50px;
    }
}

#ui-datepicker-div .ui-datepicker-calendar td a.ui-state-default {
    text-align: center;
}

.search-banner #first-row {
    margin-bottom: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.img-results {
    height: 200px;
    width: auto;
}

p.result-detail {
    margin-top: 15px;
}

.result-element {
    font-size: 16px;
}

.section-gap {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

section.content-area {
    padding-bottom: 80px;
}

div.user-banner {
    height: 300px;
}

.info-form .primary-btn {
    margin-left: 15px;
    margin-top: 15px;
}

h2 {
    margin-bottom: 30px;
}

[for="load_image"] {
    width: 95%;
    margin-top: -1px;
}

span.loaded-image-name {
    margin-left: 20px;
}

div.booking-banner {
    height: 300px;
}

.w-100 {
    height: 400px;
}

.restaurant-details {
    font-size: 18px;
}

.restaurant-details h3 {
     margin-top: 25px;
     margin-bottom: 25px;
}

.details-block {
     margin-top: 15px;
 }

.detail-label {
    font-weight: bold;
 }

li .fa-chevron-right {
    margin-right: 10px;
    font-size: 14px;
}

thead th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa {
    color: #777;;
}

#datetimepicker .timepicker-picker table.table-condensed {
    width: auto;
    margin: auto;
}