{% extends "base.html" %}
{% comment %} Main page of django_mysite. {% endcomment %}
{% block head %}
    <title>Restaurants - Home</title>
{% endblock %}
{% block banner %}
    <div class="col-lg-12 col-md-6 search-banner">
        <form action="{% url 'booking:result' %}" class="form-wrap" method="get">
            <div id="first-row" class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="site" placeholder="Luogo " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Luogo '">
                </div>
                <div class="col">
                    <input type="text" class="form-control date-picker" name="date" placeholder="Data " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Data '">
                </div>
                <div class="col">
                    <input type="text" class="form-control time-picker" name="time" placeholder="Ora " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ora '">
                </div>
                <div class="col">
                    <input type="number" min="1" class="form-control" name="n-clients" placeholder="N° Clienti " onfocus="this.placeholder = ''" onblur="this.placeholder = 'N° Clienti '">
                </div>
            </div>
            <div id="second-row" class="form-row">
                <div class="col">&nbsp;</div>
                <div class="col">
                    <h6>Servizi</h6>
                    {% for service in services %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="service{{ forloop.counter }}">
                            <label class="form-check-label" for="service{{ forloop.counter }}">
                                {{ service.value }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="col">
                    <h6>Tipi di cucina</h6>
                    {% for kitchen_type in kitchen_types %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="kitchen_type{{ forloop.counter }}">
                            <label class="form-check-label" for="kitchen_type{{ forloop.counter }}">
                                {{ kitchen_type.value }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="col">
                    <input type="submit" class="primary-btn text-uppercase" value="Cerca"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block content %}
{% endblock %}