{% extends "booking/booking_base.html" %}
{% block head %}
    <title>Dettaglio ristorante</title>
{% endblock %}
{% block content %}
    <div class="container restaurant-details">
        <div class="row">
            <h2 class="text-uppercase">Dettagli ristorante</h2>
        </div>
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide col col-sm-10 offset-sm-1" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in restaurant.images.all %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"{% if forloop.counter0 == 0 %} class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in restaurant.images.all %}
                        <div class="carousel-item{% if forloop.counter0 == 0 %} active{% endif %}">
                            <img class="d-block w-100" src="{{ image.image.url }}">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="row block">
            <div class="col col-sm-12">
                <h3>{{ restaurant.name }}</h3>
            </div>
        </div>
        <div class="row block">
            <div class="col col-sm-2">
                <span class="detail-label">Indirizzo: </span>
            </div>
            <div class="col col-sm-8">
                {{ restaurant.address }}, {{ restaurant.city }}
            </div>
        </div>
        <div class="row block">
            <div class="col col-sm-2">
                <span class="detail-label">Tipi di cucina: </span>
            </div>
            <div class="col col-sm-8">
                <ul>
                    {% for kitchen_type in restaurant.kitchen_types.all %}
                        <li><i class="fa fa-chevron-right"></i>{{ kitchen_type.value }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row block">
            <div class="col col-sm-2">
                <span class="detail-label">Servizi: </span>
            </div>
            <div class="col col-sm-8">
                <ul>
                    {% for service in restaurant.services.all %}
                        <li><i class="fa fa-chevron-right"></i>{{ service.value }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row block">
            <div class="col col-sm-12">
                <span class="detail-label">Menù: </span>
            </div>
        </div>
        {% for menu_category in restaurant.menu_categories.all %}
            <div class="row block">
                <div class="col offset-sm-1 col-sm-2">
                    <span>{{ menu_category.name }}: </span>
                </div>
                <div class="col col-sm-7">
                    <ul>
                        {% for menu_voice in menu_category.menu_voices.all %}
                            <li><i class="fa fa-chevron-right"></i>{{ menu_voice.name }} - €{{ menu_voice.price|floatformat:2 }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr class="col offset-sm-1 col-sm-11" />
        {% endfor %}
        <div class="row block">
            <div class="col col-sm-12">
                <span class="detail-label">Disponibilità: </span>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="row align-items-center">
                <div class="col-sm-8">
                    <div id="restaurant_detail_datetimepicker" data-start="{{ request.GET.datetime }}" class="datetimepicker"></div>
                </div>
                <div class="col-sm-2">
                    <label for="{{ form.n_places.name }}">Nº posti: </label>
                    {{ form.n_places }}
                </div>
                <div class="col-sm-2">
                    <button type="button" id="check-availability" data-restaurant_id="{{ view.kwargs.restaurant_id }}" data-url="{% url 'booking:check_availability' %}" class="row primary-btn primary-btn-blue text-uppercase justify-content-center">Disponibilità</button>
                    <span id="booking-availability" class="row margin-top-15 margin-bottom-15 text-info justify-content-center"></span>
                    <div class="justify-content-center row">
                        <input id="book-button" disabled type="submit" class="primary-btn text-uppercase" value="Prenota" />
                    </div>
                </div>
            </div>
            <div class="collapse">
                {{ form.start_time }}
                {{ form.state }}
            </div>
        </form>
    </div>
{% endblock %}